body {
    font-family: 'Lalezar', cursive;
    background-color: #ff2a54;
    color: white;
    text-align: center;
}
li {
    color: white;
    font-size: 20px;
    padding: 0;
    list-style: none;
    text-decoration: underline;
}
img {
    height: 10em;
    border: solid;
    border-radius: 10px;
    border-color: black;
}
#projects {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}