body {
    font-family: 'Lalezar', cursive;
    background-color: rgb(255,42,84);
    color: white;
    text-align: center;
    opacity: 50%;
}
li {
    color: white;
    font-size: 20px;
    padding: 0;
    list-style: none;
    text-decoration: underline;
}
img {
    height: 10em;
    border: solid;
    border-radius: 10px;
    border-color: black;
}
#projects {
    color: white;
    font-size: 20px;
    text-decoration: underline;
}
.head {
    left: 0;
    line-height: 100px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 45%;
    width: 100%;
}
.links {
    left: 0;
    line-height: 50px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 30%;
    width: 100%;
}